version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '03:30'
      timezone: 'Asia/Shanghai'
    open-pull-requests-limit: 10
    labels:
      - 'dependencies'
      - 'npm'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'monday'
      time: '04:00'
      timezone: 'Asia/Shanghai'
    open-pull-requests-limit: 10
    labels:
      - 'dependencies'
      - 'github-actions'
